.passwordcheck label.form-check-label {
  color: #fff !important;
}
.form-check-input.is-valid,
.was-validated .form-check-input:valid {
  border-color: #e66100 !important;
  background-color: #1a1a1a;
}
.form-check-input.is-valid:checked,
.was-validated .form-check-input:valid:checked {
  background-color: #e66100 !important;
  background-color: #1a1a1a;
}
.form-check-input.is-valid:focus,
.was-validated .form-check-input:valid:focus {
  box-shadow: none !important;
}
.recive-text {
  color: #fff;
}
.form-check.form-check-inline {
  border: 1px solid #1a1a1a;
  border-radius: 8px;
  width: 100%;
  text-align: left;
  padding: 5px 10px;
}
.form-check-input[type="radio"] {
  margin-left: 0 !important;
  margin-right: 10px;
  margin-top: 6px;
}
.form-check.form-check-inline.checked-radio {
  border: 1px solid #e66100;
}
form.forgot.passwordcheck.mt-4 {
  width: 85%;
  margin: auto;
}
