.loader-main {
  background: #fbfcfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  z-index: 99999;
  width: 100vw;
}
img.loader-img {
  width: 115px;
  position: absolute;
  z-index: -1;
  top: 50%;
  transform: translate(0, -58%);
}
